.SplitPane {
    width: 100%;
    height: 180px;
    border: 1px;
    border-style: solid;
    border-spacing: 10px;
}

.SplitPane-50 {
    float: left;
    width: 50%;
    height: 100px;
}
  
.SplitPane-left {
    float: left;
    width: 10%;
    height: 100%;
}

.SplitPane-right {
    float: left;
    width: 90%;
    height: 100%;
}